/* Left panel */
.left-panel {
  width: 38.1971%; /* 左區域佔總寬度的 40% */
  float: left; 
  background-color: #f0f0f0; /* 背景顏色 */
  height: 100vh;/* 這裡隨意指定高度，您可以根據需要自行調整 */
}

/* Right panel */
.right-panel {
  width: calc(38.1971% * 1.618); /* 右區域佔總寬度的 40% 乘以黃金比例 */
  float: right; /* 右浮動 */
  background-color: #e0e0e0; 
  height: 100vh;/* 這裡隨意指定高度，您可以根據需要自行調整 */
}

/* 右區域內四個區域 */
.right-panel .right-area {
  width: 50%; /* 每個區域佔右區域寬度的 50% */
  float: left; /* 左浮動 */
  background-color: #c0c0c0; 
  height: 50vh; 
}

/* 清除浮動 */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Drop elements */
.drop {
  flex: 1 0 50%;
  padding: 10px;
}

:root {
  --clr: #FFBE98;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: calc(100% - (38.1971% * 1.618) - 20px);
  height: calc(50vh - 20px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content:  space-between;
  /*margin: 20px 20px 20px 0;*/
}

.container .drop {
  width: 350px;
  height: 350px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10%;
  margin: 20px 30px 30px 0;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05), 25px 35px 20px rgba(0, 0, 0, 0.05), 25px 20px 20px rgba(0, 0, 0, 0.05), inset 25px 30px 30px rgba(255, 255, 255, 0.9);
  animation: slide 3s linear;
  flex: 1 1 50%; /* Adjust flex properties */
  padding: 10px;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container .drop::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.7843137255);
  top: 50px;
  left: 80px;
  border-radius: 50%;
  opacity: 0.8;
}

.container .drop::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.7843137255);
  top: 90px;
  left: 110px;
  border-radius: 50%;
  opacity: 0.8;
}

.container .drop .content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 40px 60px;
  gap: 15px;
}

.container .drop .content h2 {
  margin-bottom: 15px;
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: var(--clr);
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1), inset -2px -5px 10px rgb(255, 255, 255), 15px 15px 10px rgba(0, 0, 0, 0.05), 15px 10px 15px rgba(0, 0, 0, 0.25);
}

/* Click button */
.buttons {
  margin-top: 50px;
  text-align: center;
  border-radius: 30px;
}

.blob-btn {
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--clr);
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}

.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--clr);
  border-radius: 30px;
}
.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}
.blob-btn:hover {
  color: #FFFDFD;
  border-radius: 30px;
}
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #FFFFFF;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}
.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 100%;
  height: 100%;
  background: #FFBE98;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}
@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}

/* code for github link */
.bubbly-button {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #FFBE98;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px #ffcda5;
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #FFBE98 20%, transparent 20%), radial-gradient(circle, transparent 20%, #FFBE98 20%, transparent 30%), radial-gradient(circle, #FFBE98 20%, transparent 20%), radial-gradient(circle, #FFBE98 20%, transparent 20%), radial-gradient(circle, transparent 10%, #FFBE98 15%, transparent 20%), radial-gradient(circle, #FFBE98 20%, transparent 20%), radial-gradient(circle, #FFBE98 20%, transparent 20%), -gradient(circle, #FFBE98 20%, transparent 20%), radial-gradient(circle, #FFBE98 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #FFBE98 20%, transparent 20%), radial-gradient(circle, #FFBE98 20%, transparent 20%), radial-gradient(circle, transparent 10%, #FFBE98 15%, transparent 20%), radial-gradient(circle, #FFBE98 20%, transparent 20%), radial-gradient(circle, #FFBE98 20%, transparent 20%), radial-gradient(circle, #FFBE98 20%, transparent 20%), radial-gradient(circle, #FFBE98 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #ffae7f;
  box-shadow: 0 2px 25px rgb(250, 195, 165);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}/*# sourceMappingURL=style.css.map */