$fuschia: #ff0081;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;

body {
    font-size: 16px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: center;
    background-color: $baby-blue;
}

.bubbly-button {
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    margin-top: 100px;
    margin-bottom: 60px;
    -webkit-appearance: none;
    appearance: none;
    background-color: $button-bg;
    color: $button-text-color;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);

    &:focus {
        outline: 0;
    }

    &:before,
    &:after {
        // ... （原本的部分保留不動）
    }

    &:active {
        transform: scale(0.9);
        background-color: darken($button-bg, 5%);
        box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    }

    &.animate {
        &:before {
            display: block;
            animation: topBubbles ease-in-out 0.75s forwards;
        }
        &:after {
            display: block;
            animation: bottomBubbles ease-in-out 0.75s forwards;
        }
    }
}